*{
    padding: 0;
    margin: 0;
    border-radius: border-box;
}
body{
    background-color: white;
    min-height: 100vh;
}

/*navbar section*/
.main{
    width: 1170px;
    margin: 0 auto;
}
.main ul{
    margin: auto;
    padding: 20px 0 0;
    list-style: none;
    text-align: right;
}
.main ul li{
    float: none;
    display: inline-block;
}
.main ul li:nth-child(1){float: left;}
.main ul li:nth-child(2){float: left;}
.main ul li a{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: "Open Sans";
    padding: 5px 35px;
    color:white;
}
.main ul li a:hover{
transition: 1s;
background-color: black;
border-radius: 10px;
color: white;
text-decoration: underline;
}
#navbar{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: sticky;
    top: 0;
}
.logo{
    background-color: white;
    width: 100px;
    height: 100px;
    position: sticky;
    left: 45%;
    top: 0;
    transform:translate(0,0);
    content: '';
    transition: 1s;
    border-radius:50px;
}
.logo:hover{
    transform: scale(-1.01);
    transition: 1s;
}

/*sliding navbar*/

.mobile-nav,
.menu{
    display: none;
}

@media(width<1100px){
      .main{
        display: none;
      }
      .mobile-nav{
        display:revert;
      }
      #menu-button{
        display: block;
        background: black;
        color: #efefef;
        padding: 5px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: 5%;
      }
    .menu{
        display: revert;
        height: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 1;
        background: #efefef;
        width: 100%;
    }
    nav a{
        text-decoration: none;
        color: black;
    }
    .menu ul{
        list-style: none;
    }
    .menu ul li{
        margin-bottom: 16px;
        font-size: 1.5rem;
        text-align: center;
    }
    .menu nav{
        margin: 48px;
    }
      #close-menu{
        position:absolute;
        right: 16px;
        top: 16px;
        background: transparent;
        font-size: x-large;
        border: none;
    }
      .menu > ul{
        list-style: none;
    }
      .menu > ul > li{
        margin-bottom: 16px;
        font-size: 1.5rem;
    }
      
      .logo{
        width: 100px;
        height: 100px;
        position: sticky;
        left: 10%;
        top: 0;
        transform:translate(0,0);
        content: '';
        transition: 1s;
        border-radius:50px;
    }
      .logo:hover{
        transform: scale(-1.01);
        transition: 1s;
    }
    .social a i{
        font-size: 1.1rem;
        transition: color .4 ease;
    }
    .social a:hover i{
        color: aqua;
    }
}

/*coursel section*/
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.logos{
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}
.logos::before,
.logos::after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}
.logos::before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white );
}
.logos::after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white );
}
.logos:hover .logos-slide{
    animation-play-state: paused;
}
.logos-slide{
    display: inline-block;
    animation: 15s slide infinite linear;
}
.logos-slide img{
    height: 85px;
    margin: 0 60px;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
html{
    scroll-behavior: smooth;
}

/*footer section*/
footer{
    background-color: white;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 20px;
    color: #fff;
    position: sticky;
    top: 100%;
}
.footer-content{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: sticky;
    top: 100%;
}
.social{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 1rem 0 3rem 0;
}
.social li{
    margin: 0 10px;
}
.social a{
    text-decoration: none;
    color: #fff;
}
.social a i{
    font-size: 1.1rem;
    transition: color .4 ease;
}
.social a:hover i{
    color: aqua;
}
.footer-bottom{
    background-color: black;
    width: 100vw;
    padding: 0px;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    position: sticky;
    margin-top: auto;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/*to make it responsive*/

@media (width <= 500px){
    #navbar{
        max-width: 100%;
        position: relative;
    }
    .logos{
        max-width: 100% auto;
        position: relative;
    }
    .footer-content{
        width: 100% auto;
    }
    .footer-bottom{
        width: 100% auto;
    }
    p{
        max-width: 100% auto;
    }
}